<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Creando Producto</title>
    
    <link rel="stylesheet" href="cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    {% load static %}
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/funciones.js' %}"></script>

    <style>
        body {
            font-family: Arial;
          }
    
        .error-control {
            border: 1px solid red;
        }
    
        label.error {
            color: red;
            width: 200px;
            font-size: 0.8em;
            margin-top: -5px;
            margin-bottom: 10px;
        }  
    
    </style>

    <script>
       
        $(function() 
        {
          $("#formulario").validate({
               rules: {
                      idProducto: "required",
                      nombre: "required",
                      precio: "required",
                      categoria: "required",
                      },   
                      
                 messages: 
                  {
                  rut: {
                      required: 'Ingrese id del producto',
                    },
                  nombre: {
                      required: 'Ingrese nombre',
                  },
                  precio:{
                      required: 'Ingrese precio',
                      
                  },
                  categoria:{
                      required: 'Seleccione una categoria',
                  },
                   
              } 
          }); 
      });
</script>

</head>
<body style="background-color:blanchedalmond;">
    {% load static %}
    <div class="container">
        <div class="row">
            <h2>Creando Productos</h2>
        </div>
        {% if user.is_authenticated %}
            <div class="row">
                <form method="POST" action="#" id="formulario" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        {{ producto_form.idProducto.label }}
                        {{ producto_form.idProducto }}
                    </div>

                    <div class="form-group">
                        {{ producto_form.nombre.label }}
                        {{ producto_form.nombre }}
                    </div>

                    <div class="form-group">
                        {{ producto_form.precio.label }}
                        {{ producto_form.precio }}
                    </div>

                    <div class="form-group">
                        {{ producto_form.categoria.label }}
                        {{ producto_form.categoria }}
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                {{producto_form.foto.label}}
                            </div>
                            <div class="col-md-10">{{producto_form.foto}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md">

                            <input type="submit" class="btn btn-primary" value="Enviar">
                            <input type="reset" class="btn btn-danger" value="Limpiar">

                        </div>
                    </div>
					
                </form>
            </div>

        {% else %}
            <br><br><br><br>
            <h2 style="color:red; text-align:center">No tiene permisos para Agregar Productos</h2>    
        {% endif %}
    </div>
    <br><br><br>
    <br>

</body>

</html>
